
/Hardware/Backplate/History
/Hardware/Backplate/Sch/__Previews
/Hardware/History
/Hardware/Library/History
/Hardware/Sch/__Previews
/Hardware/Library/ESP32-S3-WROOM-1-N16R8/History
/Hardware/Project Logs for VESA-ESP
/Hardware/Library/ESP32-S3-WROOM-1-N16R8
/Hardware/Library/ESP32-S3-WROOM-1-N16R8
/Hardware/Library/Project Outputs for VESA-ESP_LIB
/Hardware/Main/History/Dwf
/Hardware/Main/Sch/__Previews
/Hardware/Main/History/Sch
/Hardware/Main/History/Pcb
/Hardware/Main/Project Logs for VESA-ESP
/Hardware/Main/History
Hardware/Main/VESA-ESP.Annotation
